#registers {
    border: 1px solid green;
    float: left;
    width: 28%;
}

#centre {
    border: 1px solid red;
    float: left;
    width: 28%;
}

#memory {
    border: 1px solid blue;
    float: left;
    overflow-y: scroll;
    width: 35%;
}

body {
    width:100%;
    text-align:center;
}

.page_part {
    display: inline-block;
    vertical-align: top;
    text-align:center;
    margin: 1%;
    height: 700px;
}

/*table.bordered, td.bordered {*/
    /*border: 1px solid black;*/
/*}*/

#playground {
    width: 100%;
    height: 100%;
}

#playground-container {
    width: 100%;
    height: 300px;
}