#registers {
    width: 25%;
    height: 200px;
    border: 1px solid green;
    float: left;
    margin: 5px;
}

#centre {
    width: 40%;
    height: 200px;
    border: 1px solid red;
    margin: 5px;
    float: left;
}

#memory {
    width: 30%;
    height: 200px;
    border: 1px solid blue;
    margin: 5px;
    float: right;
}